.rating {
  width: 500px;
  font-family: "Roboto";
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .word {
    width: 330px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    // margin: 0 auto;
  }
}