.inputBox {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.input {
  border: 3px solid orange;

  input {
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border: none;
    text-align: center;
    font-size: 1em;
    font-family: "Roboto";
    text-transform: uppercase;
    margin: 0;
    padding: 0;

    &:focus-visible {
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }
}