.inputBox {
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background: #FFF;
  width: 58px;
  height: 58px;
  font-family: "GT Eesti Pro Text";
}

.input {
  border: 3px solid orange;
  background: #FFF;

  input {
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border: none;
    text-align: center;
    font-size: 1em;
    // font-family: "Roboto";
    font-family: "GT Eesti Pro Text";
    text-transform: uppercase;
    margin: 5px 0 0 0;
    padding: 0;

    &:focus-visible {
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }
}