.square {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.input {
  border: 3px solid orange;

  input {
    display: block;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    border: none;
    text-align: center;
    font-size: 1em;
    font-family: "Roboto";
    text-transform: uppercase;
    margin: 0;
    padding: 0;

    &:focus-visible {
      outline: none;
    }

    &:focus {
      outline: none;
    }
  }
}

.empty {
  border: 3px solid orange;
  background: white;
}

.noLetter {
  border: 3px solid orange;
  background: grey;
  color: white;
}

.thereLetter {
  border: 3px solid orange;
  background: white;
  color: black;
}

.thisLetter {
  border: 3px solid orange;
  background: orange;
  color: white;
}